<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let room of rooms">
            <td>{{room.code}}</td>
            <td>{{room.name}}</td>
            <td>
                <a class="btn btn-primary" (click)="onJoinClick(room)">Join</a>
                <a class="btn btn-success">Copy</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
